<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752351409636-04t2rt2gcr69edpktvunn2cusnal5ad9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752351409636-04t2rt2gcr69edpktvunn2cusnal5ad9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>752351409636-g04fe9fm3oimqs4ok1p9l5n6mhb8tc38.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtnfTPXodfIEPbUGuXWPcbvWKd9z-86Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>752351409636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sell</string>
	<key>PROJECT_ID</key>
	<string>church-locator-a44d4</string>
	<key>STORAGE_BUCKET</key>
	<string>church-locator-a44d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752351409636:ios:282e26b552940e1c3883f1</string>
</dict>
</plist>